<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MiniCms.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="MONGOHQ_URL" value="mongodb://localhost:27017/BlogDb5" />
  </appSettings>
  <applicationSettings>
    <MiniCms.Services.Properties.Settings>
      <setting name="MongoDbConnectionString" serializeAs="String">
        <value>mongodb://localhost:27017/BlogDb</value>
      </setting>
    </MiniCms.Services.Properties.Settings>
  </applicationSettings>
</configuration>