
.keywords{
	list-style:none;
	margin:0 0 1.5em;
}
.keywords li{
	display:inline;
	text-transform:lowercase;
}
.keywords li:first-of-type{
	text-transform:capitalize;
}
.keywords li:after{
	content:", ";
}
.keywords li:last-of-type:after{
	content:"";
}