@{
    ViewBag.Title = "Logo";
}

<div class="grid-7">
    <h2>Logo</h2>
    <input type="text" id="logo" />
    <script type="text/javascript">
        $('#logo').upload();
    </script>
</div>
<div class="grid-5">
    @Html.Partial("_AdminMenu")
</div>
