<div class="island promo">
<h2>
    Features</h2>
<ul>
    <li>@Html.ActionLink("All features", "Index", "Features")</li>
    <li>@Html.ActionLink("New feature", "Create", "Features")</li>
</ul>
</div>