@{
    Bundles.Reference("Areas/Admin/Scripts/app.coffee");
}

@{
    ViewBag.Title = "Create";
}

<div id="main_content" class="span7">
    <div class="row-fluid">
        <div class="widget_container">
            <div class="well">
                <div class="navbar navbar-static navbar_as_heading">
                    <div class="navbar-inner">
                        <div class="container" style="width: auto;">
                            <a class="brand"><i class="icon-th-large-1"></i>Add New Article</a>
                        </div>
                    </div>
                </div>

                <input type="text" name="post_title" id="post_title" class="input-xxlarge-fluid" placeholder="Title">

                <textarea id="textarea" class="textarea" placeholder="Enter text ..." style="width: 100%; height: 250px"></textarea>
                
                <ul class="nav nav-tabs myTab smallfont">
                    <li class="active"><a href="#WEA1" data-toggle="tab"><i class="icon-large icon-th"></i>Excerpt / Discussion</a></li>
                    <li><a href="#WEA2" data-toggle="tab"><i class="icon-large icon-th"></i>Attachment</a></li>
                    <li><a href="#WEA3" data-toggle="tab"><i class="icon-large icon-th"></i>Post Layout</a></li>
                </ul>

                <div class="tab-content myTabContent">
                    <div class="tab-pane fade in active" id="WEA1">

                        <div class="tabbable tabs-left xdefault">

                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#WElA" data-toggle="tab"><i class="icon-align-justify"></i></a></li>
                                <li class=""><a href="#WElB" data-toggle="tab"><i class="icon-large icon-reply-all-1"></i></a></li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active" id="WElA">
                                    <div class="inner">
                                        <label>Post Excerpt</label>
                                        <textarea name="excerpt" style="width: 90%; height: 120px;"></textarea>
                                    </div>
                                </div>
                                <div class="tab-pane" id="WElB">
                                    <div class="inner">
                                        <label>Send trackback to:</label>
                                        <input type="text" name="trackback" class="input-xlarge-fluid">
                                        <label class="checkbox">
                                            <input type="checkbox" name="ca">
                                            Allow Comment.
                                        </label>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="tab-pane fade" id="WEA2">
                        <form>
                        <div id="uploader" style="position: relative;">
                            <p>You browser doesn't have Flash, Silverlight, Gears, BrowserPlus or HTML5 support.</p>
                            <div id="p16vr4r2k31no1fr2434t6ea520_flash_container" style="position: absolute; top: 0px; background-color: transparent; z-index: 99999; width: 100%; height: 100%; background-position: initial initial; background-repeat: initial initial;" class="plupload flash">
                                <object id="p16vr4r2k31no1fr2434t6ea520_flash" type="application/x-shockwave-flash" data="../plugins/plupload/js/plupload.flash.swf" width="100%" height="100%" style="outline: 0">
                                    <param name="movie" value="../plugins/plupload/js/plupload.flash.swf">
                                    <param name="flashvars" value="id=p16vr4r2k31no1fr2434t6ea520">
                                    <param name="wmode" value="transparent">
                                    <param name="allowscriptaccess" value="always">
                                </object>
                            </div>
                        </div>
                        </form>
                    </div>

                    <div class="tab-pane fade" id="WEA3">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td>&nbsp;</td>
                                    <td>Layout</td>
                                    <td>Sidebar</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input type="radio" name="slayout"></td>
                                    <td>
                                        <img width="100" src="/Areas/Admin/Content/examples/layout-01.png"></td>
                                    <td>
                                        <div class="btn-group" data-toggle="buttons-radio">
                                            <button class="btn btn-duadua">Left</button>
                                            <button class="btn btn-duadua">Right</button>
                                            <button class="btn btn-duadua">No Sidebar</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="radio" name="slayout"></td>
                                    <td>
                                        <img width="100" src="/Areas/Admin/Content/examples/layout-02.png"></td>
                                    <td>
                                        <div class="btn-group" data-toggle="buttons-radio">
                                            <button class="btn btn-duadua">Left</button>
                                            <button class="btn btn-duadua">Right</button>
                                            <button class="btn btn-duadua">No Sidebar</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="radio" name="slayout"></td>
                                    <td>
                                        <img width="100" src="/Areas/Admin/Content/examples/layout-03.png"></td>
                                    <td>
                                        <div class="btn-group" data-toggle="buttons-radio">
                                            <button class="btn btn-duadua">Left</button>
                                            <button class="btn btn-duadua">Right</button>
                                            <button class="btn btn-duadua">No Sidebar</button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<div id="right_sidebar" class="span3">
    <div class="widget_container">
        <div class="well nomargin">
            <div class="navbar navbar-static navbar_as_heading">
                <div class="navbar-inner">
                    <div class="container" style="width: auto;">
                        <a class="brand"><i class="icon-th-large-1"></i>Publish</a>
                    </div>
                </div>
            </div>
            <div class="subnav nobg">
                <button class="btn btn-warning btn-small pull-left">Save Draft</button>
                <button class="btn btn-success btn-small pull-right">Preview</button>
            </div>

            <div class="inner">
                <strong>Status:</strong>
                <div class="btn-group">
                    <button id="post_status" class="btn btn-small btn-duadua" style="width: 80%;"><span>Draft</span></button>
                    <button class="btn btn-small btn-duadua dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul id="post_status_select" class="dropdown-menu">
                        <li><a href="#">Draft</a></li>
                        <li><a href="#">Pending Review</a></li>
                    </ul>
                </div>
            </div>

            <div class="inner">
                <strong>Visibility:</strong>
                <div class="btn-group">
                    <button id="post_vis" class="btn btn-small btn-duadua" style="width: 80%;"><span>Public</span></button>
                    <button class="btn btn-small btn-duadua dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
                    <ul id="post_vis_select" class="dropdown-menu">
                        <li><a href="#">Public</a></li>
                        <li><a href="#">Password protected</a></li>
                        <li><a href="#">Private</a></li>
                    </ul>
                </div>
                <input id="post_password" type="password" placeholder="type password" style="width: 87%; margin-top: 10px; display: none;">
            </div>

            <div class="inner">
                <strong>Publish:</strong>
                <div class="btn-group">
                    <button id="post_pub_select" class="btn btn-small btn-duadua" data-date="12-02-2012" data-date-format="dd-mm-yyyy" style="width: 93%;"><span>immediately</span></button>
                </div>
            </div>

            <div class="subnav nobg">
                <button class="btn btn-danger btn-small pull-left">Move to Trash</button>
                <button id="btn-publish" class="btn btn-primary btn-small pull-right">Publish</button>
            </div>

        </div>
    </div>

    <div class="widget_container">
        <div class="well">
            <div class="navbar navbar-static navbar_as_heading">
                <div class="navbar-inner">
                    <div class="container" style="width: auto;">
                        <a class="brand"><i class="icon-th-large-1"></i>Categories</a>
                    </div>
                </div>
            </div>

            <div class="tabbable">
                <ul class="nav nav-tabs myTab smallfont">
                    <li class="active"><a href="#tab1" data-toggle="tab">All Categories</a></li>
                    <li class=""><a href="#tab2" data-toggle="tab">Most Used</a></li>
                </ul>

                <div class="tab-content myTabContent">
                    <div class="tab-pane active" id="tab1">
                        <div class="inner">
                            <table class="table smallfont">
                                <tbody data-bind="foreach: categories">
                                    <tr>
                                        <td style="width: 10px;">
                                            <input type="checkbox" class="chkbck"></td>
                                        <td data-bind="text: Name"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div class="inner">
                            <table class="table smallfont">
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" class="chkbck"></td>
                                        <td>Breaking News</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="subnav nobg">
                    <a href="/admin/articles/categories" class="btn btn-duadua btn-small">Add new category</a>
                </div>

            </div>

        </div>
    </div>

    <div class="widget_container">
        <div class="well">
            <div class="navbar navbar-static navbar_as_heading">
                <div class="navbar-inner">
                    <div class="container" style="width: auto;">
                        <a class="brand"><i class="icon-th-large-1"></i>Post Tags</a>
                    </div>
                </div>
            </div>
            <form class="form-inline">
            <input type="text" name="add_post_tag" class="input-small">
            <button class="btn btn-duadua btn-small">Add</button>
            </form>
            <span class="label label-info">tag one</span> <span class="label label-info">tag number two</span> <span class="label label-info">three</span>
        </div>
    </div>

</div>

<script type="text/javascript">
    
    $(document).ready(function () {
        
        var categories = new Categories();
        var viewModel = new CreateArticleViewModel(categories);
        categories.fetch();
        ko.applyBindings(viewModel);

        $('#btn-publish').click(function () {
            console.log("btn-publish clicked");
            viewModel.save($('#post_title').val(), $('#textarea').val());
        });
    });

</script>