@{
    ViewBag.Title = "Create";
}

<div id="main_content" class="span10">

    <div class="widget_container">
        <div class="well nomargin">
            <ul class="breadcrumbs-custom in-well">
                <li><a href="#">Home</a></li>
                <li><a href="#">Media</a></li>
                <li class="active">Add New</li>
            </ul>
        </div>
    </div>

    <div class="widget_container">
        <div class="well nomargin">

            <div class="navbar navbar-static navbar_as_heading">
                <div class="navbar-inner">
                    <div class="container" style="width: auto;">
                        <a class="brand">Upload Files</a>
                        <ul class="nav pull-right">
                            <li><a href="#">All</a></li>
                            <li><a href="#"><i class="icon-large icon-picture-3"></i>Image</a></li>
                            <li><a href="#"><i class="icon-large icon-doc-1"></i>Documents</a></li>
                            <li><a href="#"><i class="icon-large icon-video-1"></i>Video</a></li>
                            <li><a href="#"><i class="icon-large icon-music-1"></i>Music</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <form style="margin-bottom: 0;">
            <div id="uploader" style="position: relative;">
                
            </div>
            </form>

        </div>
    </div>
</div>
